.product-section{
    padding-top: 102px;
    padding-bottom: 193px;
    background-color: $black;
    @media only screen and (max-width: $bigTablet){
        padding-top: 60px;
        padding-bottom: 166px;
    }
    @media only screen and (max-width: $mobile){
        padding-top: 28px;
        padding-bottom: 65px;
    }
  .container{
    max-width: 1287px;
    width: 100%;
    margin: 0px auto 0 auto;
    padding: 0 15px;
    .section-heading{
      *{
        color: $white;
      }
    }
    .top-screen{
      position: relative;
      min-height: 773px;
      margin-top: 35px;
      @media only screen and (max-width: $bigTablet){
        min-height: 440px;
      }
      @media only screen and (max-width: $mobile){
        margin-top: 25px;
        min-height: 188px;
      }
    }
  }

}
