.industries-section{
    padding: 137px 0px 126px 0px;
    position: relative;
    @media only screen and (max-width: $smallDesktop){
        padding-top: 110px;
    }
    @media only screen and (max-width: $bigTablet){
        padding: 89px 0 114px 0;
    }
    @media only screen and (max-width: $mobile){
        padding-top:62px;
        padding-bottom: 0;
    }
    .industries-section-mainpanel{
        padding: 0 105px;
        position: relative;
        @media only screen and (max-width: $bigTablet){
            padding: 0;
        }
        .industriesSwiper_overaly{
            position: relative;
            @media only screen and (max-width: $bigTablet){
                padding:0 0 109px 0;
            }
            @media only screen and (max-width: $tablet){
                padding:0 0 82px 0;
            }
                .industries_swipe{
                    margin-top: 80px;
                    background-color: $white;
                    overflow: hidden;
                    @media only screen and (max-width: $smallDesktop){
                        margin-top: 50px;
                    }
                    @media only screen and (max-width: $mobile){
                        margin-top: 39px;
                    }
                    .industriesItems{
                        @include flexRow(26,2);
                        @media only screen and (max-width: $bigTablet){
                            @include flexRow(0,1);
                        }
                        .industriesItemOverlay{
                            @media only screen and (max-width: $bigTablet){
                                &:not(:first-child){
                                    margin-top: 22px;
                                }
                            }
                        }

                    }

                }

        }

    }

    .industries-buttons-overlay{
        width: 100%;
        max-width: 100%;
        @include absoluteCenter(vertical);
        left: 0;
        @media only screen and (max-width: $bigTablet){
            max-width: 136px;
            position: absolute;
            right: auto;
            bottom: 0;
            top: auto;
            transform: none;
            left: 50%;
            transform: translateX(-50%);
            padding:0;
        }
    }
}
