.hero-section {
  padding-top: 200px;
  background-color: $lightBlur;
  overflow: hidden;
  min-height: 1000px;
  position: relative;
  @media only screen and (max-width: $bigDesktop){
    min-height: 900px;
  }
  @media only screen and (max-width: $bigTablet){
    padding-top: 142px;
    min-height: 971px;
  }
  @media only screen and (max-width: $mobile){
    padding-top: 120px;
    min-height: 790px;
  }
  &::after{
    content: " ";
    background-image: url(../../../../public/images/uploads/crm_hero.png);
    background-size: cover;
    animation: rotate 10s  linear infinite ;
    background-position: center center  ;
    @include absoluteCenter(both);
    width: 200%;
    height: 200%;
    @media only screen and (max-width: $bigTablet) {
      background-image: url(../../../../public/images/uploads/crm_back_tablet.png);
    }
    @media only screen and (max-width: $tablet) {
      background-image: url(../../../../public/images/uploads/crm_back_tablet.png);
    }
  }
  .hero-mainpanel{
    @include d-flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    z-index: 2;
    .left-side{
      max-width: 337px;
      width: 100%;
      @include flex-center-column;
      @media only screen and (max-width: $bigDesktop){
        max-width: 300px;
      }
      @media only screen and (max-width: $laptop){
        max-width: 250px;
      }
      .crm-buttons{
        position: relative;
        max-width: 100%;
        width: 100%;
        min-height: 180px;
      }
      .widges-inner > div > div {
        transform-origin: 100px 100px;
        animation: rotation 3.0303030303030303s linear infinite;
        opacity: 0.8;
      }
      .widges-inner > div > div > div {
        position: absolute;
        left: 30px;
        top: 30px;
        width: 70px;
        height: 70px;
        border-radius: 70px 0 0 0;
        transform-origin: 100px 100px
      }.widges-inner > div div:nth-child(1) {
        animation-duration: 0.7s
      }
      .widges-inner > div div:nth-child(1) > div {
        background: $crmYellow;
        transform: rotate(0deg);
      }.widges-inner > div div:nth-child(2) {
        animation-duration: 1s
      }
      .widges-inner > div div:nth-child(2) > div {
        background: $crmYellow;
        transform: rotate(0deg);
      }.widges-inner > div div:nth-child(3) {
        animation-duration: 1s
      }
      .widges-inner > div div:nth-child(3) > div {
        background: $crmYellow;
        transform: rotate(0deg);
      }.widges-inner > div div:nth-child(4) {
        animation-duration: 3s
      }
      .widges-inner > div div:nth-child(4) > div {
        background: $crmYellow;
        transform: rotate(0deg);
      }
      .spinner-wedges {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: $white;
        border: 5px solid $black;
        border-radius: 50%;
        position: relative;
        cursor:pointer;
        margin-top: 177px;
        cursor: url(../../../../public/images/uploads/mouse_hover.svg),auto;
        @media only screen and (max-width: $bigTablet){
          width: 80px;
          border: 10px solid $white;
          outline: 5px solid $black;
          height: 80px;
        }
        &::after{
          content: " ";
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='75' height='74' viewBox='0 0 75 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.1947 37L37.6801 62.5146L12.1655 37L17.253 31.8354L34.0572 48.5625L34.0572 11.4854L41.303 11.4854L41.303 48.5625L58.0301 31.8354L63.1947 37Z' fill='black'/%3E%3C/svg%3E");
          width: 74px;
          height: 74px;
          @include absoluteCenter(both);
          @media only screen and (max-width: $bigTablet){
            width: 20px;
            height: 20px;
            background-size: contain;
          }
        }
        @media only screen and (max-width: $bigTablet){
          margin-top: 0px;
        }
      }
      .widges-inner {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-origin: 0 0;
        position: absolute;
        top: 47%;
        left: 47%;
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        @media only screen and (max-width: $bigTablet){
          top: -58%;
          left: -63%;
        }
      }
    }
    .hero-main-image{
      position: relative;
      min-height: 740px;
      max-width: 1067px;
      width: 100%;
      @media only screen and (max-width: $bigDesktop){
        max-width: 900px;
        min-height: 580px;
      }
      @media only screen and (max-width: $smallDesktop){
        max-width: 840px;
        min-height: 580px;
      }
      @media only screen and (max-width: $laptop){
        max-width: 740px;
        min-height: 580px;
      }
      @media only screen and (max-width: 1100px){
        max-width: 630px;
        min-height: 480px;
      }
    }
    .right-side{
      @include flex-column;
      justify-content: space-between;
      .button-animated{
        position: relative;
        cursor: pointer;
        width: 80px;
        height: 85px;
        cursor: url(../../../../public/images/uploads/mouse_hover.svg),auto;
        &:first-child{
          transform: scale(0.7);
        }
        &:nth-child(2){
          right: 40px;
        }
        &.animated{
          .right-button{
            transition: 1s;
            transform: translate(30px,-80px) scale(0.6);
          }
          .left-button{
            transition: 1s;
            transform: translate(-30px,-70px) scale(0.7) rotate(-40deg);
          }
        }
          & > div{
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 85px;
            transition: 1s;
            @media only screen and (max-width: $smallDesktop){
              width: 60px;
              height: 65px;
            }
          }
      }
    }
    .tablet-version{
      width: 100%;
      max-width: 100%;
      @include flex-column;
      align-items: center;
      .button-animated{
        & > div{
          width: 100%;
          height: 100%;
        }
      }
      .level-top{
        width: 100%;
        max-width: 100%;
        @include flex-center-vert;
        justify-content: space-between;
        @media only screen and (max-width: $bigTablet){
          padding-left: 30px;
        }
        .crm-buttons{
          width: 215px;
          min-height: 113px;
          position: relative;
          @media only screen and (max-width: $mobile){
            width: 167px;
            min-height: 88px;
          }
        }
      }
      .hero-main-image{
        margin-top: 13px;
        @media only screen and (max-width: $mobile){
          width: 630px;
          min-height: 400px;
          transform: translateX(120px);
        }
      }
      .left-side{
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        position: relative;
        @media only screen and (max-width: $mobile){
          justify-content: center;
          padding-top: 20px;
        }
        .right-side{
          &.bottom{
            transform: translateY(120px);
            @media only screen and (max-width: $mobile){
              display: none;
            }
          }
          @media only screen and (max-width: $mobile){
            position: absolute;
            top: 0;
            right: 0px; 
          }
        }
      }

    }
  }
}


@keyframes rotate {
  0%{
    transform:translate(-50%,-50%) rotate(0deg)  matrix(-0.69, -0.66, 0.79, -0.69, 0, 0);
    }
    100%{
      transform:translate(-50%,-50%) rotate(360deg)  matrix(-0.69, -0.66, 0.79, -0.69, 0, 0);
      }
}


@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
