.mainpage-section {
  padding-top: 85px;
  padding-bottom: 179px;
  background-color: $sectionBg;
  @media only screen and (max-width: $bigTablet) {
    padding-top: 100px;
    padding-bottom: 160px;
  }
  @media only screen and (max-width: $mobile) {
    padding-top: 31px;
    padding-bottom: 64px;
  }

  .container {
    max-width: 1257px;
    width: 100%;
    margin: 0px auto 0 auto;
    padding: 0 15px;

    .section-heading {
      * {
        color: $black;
      }
    }

    .top-screen {
      position: relative;
      min-height: 673px;
      margin-top: 65px;
      filter: drop-shadow(0px 4px 36px rgba(73, 72, 92, 0.2));
      border-radius: 24px;
      border: 10px solid $white;

      @media only screen and (max-width: $bigTablet) {
        min-height: 381px;
      }
      @media only screen and (max-width: $mobile) {
        min-height: 165px;
        margin-top: 19px;
      }
    }
  }

}
