.hero-section{
  .hero-section-mainpanel{
    padding-top: 200px;
    background-image: url(../../../../public/images/uploads/desing_hero.png);
    min-height: 602px;
    background-color: $black;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-section-description{
      max-width: 839px;
      width: 100%;
      .section-heading{
        *{
          @include fontRem(60,700,72);
          color: $white;
        }
      }
      .section-description{
        margin-top: 24px;
        *{
          @include fontRem(20,400,28);
          color: $white;
        }
      }
      .hero-video{
        padding-top: 69px;
        @include flex-center-vert;
        .play-icon-overlay{
          width: 85px;
          height: 85px;
          border: 1px solid $white;
          border-radius: 50%;
          @include flex-center;
          margin-right: 23px;
          .play-icon{
            width: 57px;
            height: 57px;
            &::after{
              width: 16px;
              height: 22px;
            }
          }
        }
        .video-text{
          *{
            @include fontRem(16,700,23);
            color: $white;
          }
        }
      }
    }
  }
}
