.catalogue-section {
  padding-top: 200px;
  padding-bottom: 200px;
  @media only screen and (max-width: $tablet){
    padding: 100px 0;
  }
    .catalogue-image {
      margin-top: 50px;
      min-height: 1742px;
      position: relative;
      filter: drop-shadow(0px 4px 60px rgba(34, 48, 60, 0.3));
      border-radius: 20px;
      @media only screen and (max-width:$laptop){
        max-width: 700px;
        min-height: 800px;
        margin: 50px auto 0 auto;
      }
      @media only screen and (max-width: $tablet){
        min-height: 600px;
        max-width: 500px;
      }
      @media only screen and (max-width:$mobile){
        min-height: 400px;
        max-width: 300px;
      }
  }
}

