$primary: #1A2028;
$white: #FFFFFF;
$black: #000;
$lightBlur: #4F8EFE;
$lightGray: #9FA8B1;
$extraLightGary: #FAFAFE;
$blogItem: #B6DFE5;
$sectionBg: #F5F5F5;
$sectionBg2: #FAFAFE;
$moulkwidget: #F8F9FC;
$textStroke: #212121;
$moulkUi: #1E87FA;
$moulkBlue: #1875FF;
$mallsBlue: #1C67FF;
$moulkDarkGray: #C5C7D2;
$moulkLightGray: #F1F4FD;
$green: #24B18C;
$gray: #DFDFDF;
$mallsGray: #909090;
$davPolyClinics: #2B3945;
$davClinicGray: #22303C;
$davGreen: #1B968A;
$polyclinicsDark: #49545E;
$aboutPolyclinics: #42515D;
$crmYellow: #F1D624;
$red: #FF8484;
$darBlue:#5985DC;
  // resposive sizes
$desktop: 1600px;
$desktopBig: 1500px;
$smallDesktop: 1400px;
$middleDesktop: 1450px;
$bigDesktop: 1550px;
$laptop: 1250px;
$bigTablet: 1024px;
$middle:992px;
$tablet: 768px;
$bigMobile: 600px;
$mobile: 576px;
