.blogContent-section{
  .blogContent-mainpanel{
    @include d-flex;
    justify-content: space-between;
    padding-top: 66px;
    .content-description{
      max-width: 864px;
      @media only screen and (max-width: $laptop) {
        max-width: 706px;
      }
      @media only screen and (max-width: $bigTablet) {
        max-width: 100%;
      }
      .content-heading{
        @include flex-center-vert;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        .content-heading-inner{
          max-width: 666px;
          width: 100%;
          *{
            @include fontRem (40,700,48);
          }
          @media only screen and (max-width: $tablet){
            max-width: 500px;
            @include fontRem (30,700,36);
          }
          @media only screen and (max-width: $mobile){
            max-width: 283px;
            @include fontRem (20,700,24);
          }
        }
        .accordion-overlay{
          position: relative;
          .accordion-hidden{
            overflow: hidden;
            position: absolute;
            top: 0px;
            left: 0;
            transition: all 0.5s linear 0s;
            background: $white;
            box-shadow: 0px 4px 6px rgba($black, 0.2);
            border-radius: 16px;
            z-index: 1;
            width: 100%;
            padding: 40px 8px 0 8px;
            ul {
              list-style: none;
              li{
                .social-icon{
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  font-size: 0px;
                  width: 100%;
                  display: block;
                  margin: 0 auto ;
                  &.facebook{
                    min-height: 17px;
                    margin-top: 17px;
                    max-width: 8px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.86739 6.00678H6.1704V4.23795C6.1704 3.57367 6.61067 3.4188 6.92076 3.4188C7.23015 3.4188 8.82399 3.4188 8.82399 3.4188V0.498512L6.20286 0.488281C3.29315 0.488281 2.63099 2.66633 2.63099 4.06015V6.00678H0.948242V9.01597H2.63099C2.63099 12.8778 2.63099 17.531 2.63099 17.531H6.1704C6.1704 17.531 6.1704 12.832 6.1704 9.01597H8.55871L8.86739 6.00678Z' fill='%231A2028'/%3E%3C/svg%3E");
                  }
                  &.instagram{
                    min-height: 16px;
                  max-width: 16px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.24154 0.0878906C2.71429 0.0878906 0.658203 2.14397 0.658203 4.67122V12.0046C0.658203 14.5318 2.71429 16.5879 5.24154 16.5879H12.5749C15.1021 16.5879 17.1582 14.5318 17.1582 12.0046V4.67122C17.1582 2.14397 15.1021 0.0878906 12.5749 0.0878906H5.24154ZM5.24154 1.92122H12.5749C14.091 1.92122 15.3249 3.15506 15.3249 4.67122V12.0046C15.3249 13.5207 14.091 14.7546 12.5749 14.7546H5.24154C3.72537 14.7546 2.49154 13.5207 2.49154 12.0046V4.67122C2.49154 3.15506 3.72537 1.92122 5.24154 1.92122ZM13.4915 2.83789C13.2484 2.83789 13.0153 2.93447 12.8434 3.10638C12.6714 3.27828 12.5749 3.51144 12.5749 3.75456C12.5749 3.99767 12.6714 4.23083 12.8434 4.40274C13.0153 4.57465 13.2484 4.67122 13.4915 4.67122C13.7347 4.67122 13.9678 4.57465 14.1397 4.40274C14.3116 4.23083 14.4082 3.99767 14.4082 3.75456C14.4082 3.51144 14.3116 3.27828 14.1397 3.10638C13.9678 2.93447 13.7347 2.83789 13.4915 2.83789ZM8.9082 3.75456C6.38095 3.75456 4.32487 5.81064 4.32487 8.33789C4.32487 10.8651 6.38095 12.9212 8.9082 12.9212C11.4355 12.9212 13.4915 10.8651 13.4915 8.33789C13.4915 5.81064 11.4355 3.75456 8.9082 3.75456ZM8.9082 5.58789C10.4244 5.58789 11.6582 6.82172 11.6582 8.33789C11.6582 9.85406 10.4244 11.0879 8.9082 11.0879C7.39204 11.0879 6.1582 9.85406 6.1582 8.33789C6.1582 6.82172 7.39204 5.58789 8.9082 5.58789Z' fill='%231A2028'/%3E%3C/svg%3E");
                  }
                  &.linkedin{
                    min-height: 14px;
                    max-width: 15px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.57454 14.8112H0.241211V4.8112H3.57454V14.8112ZM1.90854 3.47786C0.986544 3.47786 0.241211 2.73053 0.241211 1.81053C0.241211 0.890531 0.987877 0.144531 1.90854 0.144531C2.82721 0.144531 3.57454 0.891865 3.57454 1.81053C3.57454 2.73053 2.82721 3.47786 1.90854 3.47786ZM15.5745 14.8112H12.3699V9.94453C12.3699 8.78386 12.3479 7.2912 10.7039 7.2912C9.03521 7.2912 8.77854 8.5552 8.77854 9.86053V14.8112H5.57454V4.80386H8.65054V6.1712H8.69388C9.12188 5.38453 10.1679 4.5552 11.7279 4.5552C14.9745 4.5552 15.5745 6.62786 15.5745 9.32253V14.8112Z' fill='%231A2028'/%3E%3C/svg%3E");
                  }
                  &.telegram {
                    min-height: 13px;
                    max-width: 13px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5014 1.25006L13.1965 12.1198C13.0226 12.8869 12.5691 13.0778 11.9247 12.7165L8.41287 10.1286L6.71838 11.7584C6.53092 11.9459 6.37403 12.1028 6.01262 12.1028L6.26489 8.52605L12.7737 2.64455C13.0567 2.39228 12.7124 2.25246 12.3339 2.50477L4.28738 7.57136L0.823269 6.48715C0.0697572 6.25187 0.0561439 5.7336 0.980087 5.37222L14.5297 0.152194C15.157 -0.0830503 15.7059 0.291946 15.5014 1.25006Z' fill='%231A2028'/%3E%3C/svg%3E");
                  }
                  &.whatsapp {
                    min-height: 18px;
                    max-width: 19px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.402 3.13318C14.6792 1.40833 12.388 0.458031 9.94696 0.457031C4.91726 0.457031 0.823608 4.55035 0.821645 9.5816C0.820941 11.1899 1.24114 12.7598 2.03972 14.1436L0.745117 18.8722L5.58257 17.6033C6.9154 18.3303 8.41606 18.7135 9.94333 18.714H9.94703C9.94733 18.714 9.94681 18.714 9.9471 18.714C14.9763 18.714 19.0702 14.6203 19.0723 9.5889C19.0732 7.1506 18.1249 4.85794 16.402 3.13318ZM9.94699 17.1729H9.94392C8.58301 17.1724 7.24814 16.8067 6.08363 16.1157L5.8067 15.9513L2.93609 16.7043L3.70233 13.9055L3.52198 13.6185C2.76277 12.411 2.3618 11.0152 2.36239 9.58212C2.36402 5.40035 5.76651 1.99822 9.95007 1.99822C11.9759 1.99885 13.8802 2.78884 15.3122 4.22246C16.7442 5.65608 17.5323 7.56169 17.5315 9.58827C17.5298 13.7704 14.1274 17.1729 9.94699 17.1729Z' fill='%231A2028'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1076 11.492C13.8796 11.3779 12.7586 10.8264 12.5496 10.7502C12.3406 10.6741 12.1886 10.6361 12.0366 10.8643C11.8846 11.0926 11.4476 11.6062 11.3146 11.7584C11.1816 11.9105 11.0486 11.9296 10.8206 11.8154C10.5926 11.7013 9.85796 11.4605 8.98708 10.6837C8.30921 10.0791 7.85164 9.33249 7.71858 9.10417C7.58561 8.87595 7.70443 8.75257 7.8186 8.63885C7.92117 8.53665 8.04663 8.37256 8.16064 8.23939C8.27462 8.1063 8.31262 8.01111 8.38863 7.85905C8.46464 7.70685 8.42667 7.57368 8.36963 7.45959C8.31262 7.34547 7.85664 6.22318 7.66665 5.76657C7.48152 5.32203 7.29357 5.38226 7.15359 5.37519C7.02079 5.36856 6.86859 5.36719 6.71661 5.36719C6.56463 5.36719 6.31756 5.42427 6.10861 5.65248C5.89962 5.88077 5.31055 6.43243 5.31055 7.55461C5.31055 8.67693 6.12757 9.76114 6.24159 9.91327C6.35556 10.0655 7.84938 12.3685 10.1366 13.3561C10.6806 13.5911 11.1053 13.7313 11.4365 13.8364C11.9827 14.01 12.4797 13.9854 12.8726 13.9267C13.3107 13.8613 14.2216 13.3752 14.4116 12.8426C14.6016 12.31 14.6016 11.8534 14.5446 11.7583C14.4876 11.6633 14.3356 11.6062 14.1076 11.492Z' fill='%231A2028'/%3E%3C/svg%3E");
                  }
                  &.viber {
                    min-height: 21px;
                    max-width: 21px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.7779 2.09455C18.2452 1.60297 16.0928 0.040353 11.2981 0.0192752C11.2981 0.0192752 5.6439 -0.321543 2.8877 2.20673C1.35331 3.74148 0.813498 5.9868 0.756695 8.77087C0.699892 11.5549 0.625941 16.7722 5.65533 18.1869H5.66033L5.65676 20.3455C5.65676 20.3455 5.6246 21.2193 6.20014 21.3976C6.89606 21.6137 7.30476 20.9496 7.96925 20.2336C8.334 19.8407 8.83772 19.2633 9.21712 18.8218C12.6567 19.1112 15.3018 18.4495 15.6023 18.352C16.2968 18.1269 20.2265 17.6232 20.8657 12.4063C21.5255 7.02891 20.5466 3.62752 18.7779 2.09455ZM19.3609 12.0204C18.8215 16.3764 15.6341 16.65 15.0464 16.8387C14.7963 16.9191 12.4731 17.4971 9.55151 17.3063C9.55151 17.3063 7.37442 19.9328 6.69457 20.6155C6.58847 20.7224 6.46379 20.7656 6.38019 20.7442C6.26301 20.7156 6.23086 20.577 6.23229 20.3744C6.23408 20.085 6.25087 16.7872 6.25087 16.7872C6.25087 16.7872 6.24837 16.7872 6.25087 16.7872C1.99672 15.6062 2.24465 11.1655 2.29288 8.84017C2.34111 6.51482 2.77802 4.60996 4.07556 3.32885C6.40699 1.21714 11.2095 1.53259 11.2095 1.53259C15.2654 1.55045 17.2088 2.77154 17.6593 3.18095C19.1559 4.46206 19.9179 7.52799 19.3606 12.0194V12.0204H19.3609Z' fill='%231A2028'/%3E%3Cpath d='M13.2702 8.92002C13.1266 8.92002 13.0069 8.80713 12.9998 8.66244C12.9541 7.74109 12.5207 7.2906 11.6358 7.24416C11.4861 7.2363 11.3714 7.10876 11.3793 6.95907C11.3871 6.80938 11.514 6.69435 11.6644 6.70256C12.8326 6.76365 13.4817 7.43207 13.5417 8.63529C13.5492 8.78498 13.4338 8.91216 13.2845 8.91967C13.2792 8.92002 13.2749 8.92002 13.2702 8.92002Z' fill='%231A2028'/%3E%3Cpath d='M14.6631 9.38618C14.6609 9.38618 14.6592 9.38618 14.657 9.38618C14.5073 9.38297 14.3884 9.259 14.3919 9.10931C14.4119 8.1826 14.1472 7.43201 13.5828 6.81504C13.0187 6.1995 12.2459 5.86368 11.2202 5.78866C11.0709 5.77758 10.9587 5.6479 10.9695 5.49857C10.9805 5.34924 11.1109 5.23706 11.2595 5.24778C12.4135 5.33209 13.3295 5.7365 13.9825 6.44886C14.637 7.16372 14.9571 8.06292 14.9339 9.1211C14.931 9.26864 14.8103 9.38618 14.6631 9.38618Z' fill='%231A2028'/%3E%3Cpath d='M16.0869 9.94375C15.938 9.94375 15.8169 9.82371 15.8158 9.67474C15.8033 8.03853 15.3124 6.7367 14.3564 5.80499C13.3986 4.87149 12.1886 4.39313 10.7596 4.38313C10.6099 4.38206 10.4892 4.25988 10.4902 4.11019C10.4913 3.96121 10.6124 3.84082 10.7614 3.84082C10.7621 3.84082 10.7628 3.84082 10.7632 3.84082C12.3372 3.8519 13.6734 4.38206 14.7347 5.41666C15.7979 6.4534 16.3442 7.88455 16.3577 9.67081C16.3588 9.8205 16.2384 9.94303 16.0887 9.94411C16.0884 9.94375 16.0877 9.94375 16.0869 9.94375Z' fill='%231A2028'/%3E%3Cpath d='M11.7047 12.2808C11.7047 12.2808 12.0859 12.3129 12.2909 12.06L12.6911 11.5566C12.884 11.3069 13.3498 11.1479 13.806 11.402C14.1479 11.597 14.4798 11.8089 14.8003 12.0368C15.1029 12.2594 15.7227 12.7767 15.7248 12.7767C16.0203 13.026 16.0882 13.3918 15.8874 13.778C15.8874 13.7802 15.8856 13.7841 15.8856 13.7862C15.6641 14.1699 15.3829 14.5161 15.0528 14.8116C15.0489 14.8133 15.0489 14.8155 15.0453 14.8173C14.7585 15.057 14.4766 15.1935 14.1997 15.226C14.159 15.2331 14.1176 15.2356 14.0761 15.2338C13.9539 15.2349 13.8325 15.2163 13.7164 15.1785L13.7074 15.1652C13.2809 15.0448 12.5689 14.744 11.3828 14.0896C10.6965 13.7155 10.0431 13.284 9.4297 12.7995C9.12211 12.5569 8.8288 12.2969 8.55122 12.0204L8.52157 11.9907L8.49192 11.9611L8.46226 11.9314C8.45226 11.9218 8.44262 11.9118 8.43261 11.9017C8.15646 11.6242 7.89638 11.3309 7.65345 11.0233C7.16901 10.4099 6.73745 9.75645 6.36341 9.07053C5.70928 7.8841 5.40812 7.17281 5.28773 6.74554L5.27451 6.73661C5.23664 6.6205 5.21806 6.49903 5.21949 6.37685C5.21735 6.33541 5.21985 6.29397 5.22699 6.25324C5.26165 5.97673 5.39812 5.69486 5.6364 5.40692C5.63819 5.40334 5.64033 5.40334 5.64212 5.39941C5.93757 5.06931 6.28375 4.78816 6.66743 4.56702C6.66922 4.56702 6.67315 4.56523 6.67565 4.56523C7.06148 4.3641 7.42766 4.43233 7.67667 4.72599C7.67846 4.72778 8.19504 5.34761 8.41654 5.65056C8.64482 5.97137 8.85667 6.30362 9.05137 6.64586C9.30538 7.10172 9.1464 7.56829 8.89668 7.76085L8.39331 8.16097C8.13931 8.36603 8.17253 8.74722 8.17253 8.74722C8.17253 8.74722 8.91883 11.5699 11.7047 12.2808Z' fill='%231A2028'/%3E%3C/svg%3E");
                  }
                }
                &:not(:first-child) {
                    margin-top: 20px;
                }
              }
            }


          }
          .share-icon{
            position: relative;
            width: 40px;
            height: 40px;
            z-index: 2;
            cursor: pointer;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.3446 0C6.87003 0 0 6.87003 0 15.3446V24.6554C0 33.13 6.87003 40 15.3446 40H24.6554C33.13 40 40 33.13 40 24.6554V15.3446C40 6.87003 33.13 0 24.6554 0H15.3446ZM24.5088 29.926C25.1136 30.5309 25.8404 30.8333 26.689 30.8333C27.5556 30.8333 28.2869 30.5309 28.8827 29.926C29.4786 29.3212 29.7765 28.5944 29.7765 27.7458C29.7765 26.8792 29.4786 26.1479 28.8827 25.5521C28.2869 24.9562 27.5556 24.6583 26.689 24.6583C26.2195 24.6583 25.8043 24.7351 25.4431 24.8885C25.082 25.042 24.7661 25.2451 24.4952 25.4979L16.289 20.8396C16.3251 20.6951 16.3567 20.5507 16.3838 20.4062C16.4109 20.2618 16.4244 20.1264 16.4244 20C16.4244 19.8736 16.4109 19.7156 16.3838 19.526C16.3567 19.3365 16.3251 19.1694 16.289 19.025L24.4952 14.475C24.7661 14.7819 25.0956 15.0031 25.4838 15.1385C25.872 15.274 26.2737 15.3417 26.689 15.3417C27.5556 15.3417 28.2869 15.0392 28.8827 14.4344C29.4786 13.8295 29.7765 13.1028 29.7765 12.2542C29.7765 11.3875 29.4786 10.6562 28.8827 10.0604C28.2869 9.46458 27.5556 9.16667 26.689 9.16667C25.8404 9.16667 25.1136 9.46458 24.5088 10.0604C23.9039 10.6562 23.6015 11.3875 23.6015 12.2542C23.6015 12.3986 23.615 12.5521 23.6421 12.7146C23.6692 12.8771 23.7098 13.0215 23.764 13.1479L15.5577 17.8604C15.2508 17.5535 14.9077 17.3187 14.5286 17.1562C14.1494 16.9937 13.7522 16.9125 13.3369 16.9125C12.4883 16.9125 11.7616 17.2104 11.1567 17.8062C10.5518 18.4021 10.2494 19.1333 10.2494 20C10.2494 20.8486 10.5518 21.5753 11.1567 22.1802C11.7616 22.7851 12.4883 23.0875 13.3369 23.0875C13.7522 23.0875 14.1584 22.9927 14.5556 22.8031C14.9529 22.6135 15.2869 22.3653 15.5577 22.0583L23.764 26.825C23.7098 26.9694 23.6692 27.1274 23.6421 27.299C23.615 27.4705 23.6015 27.6194 23.6015 27.7458C23.6015 28.5944 23.9039 29.3212 24.5088 29.926ZM27.7317 13.2969C27.4518 13.5767 27.1043 13.7167 26.689 13.7167C26.2737 13.7167 25.9261 13.5767 25.6463 13.2969C25.3664 13.017 25.2265 12.6694 25.2265 12.2542C25.2265 11.8389 25.3664 11.4913 25.6463 11.2115C25.9261 10.9316 26.2737 10.7917 26.689 10.7917C27.1043 10.7917 27.4518 10.9316 27.7317 11.2115C28.0116 11.4913 28.1515 11.8389 28.1515 12.2542C28.1515 12.6694 28.0116 13.017 27.7317 13.2969ZM14.3796 21.0427C14.0997 21.3226 13.7522 21.4625 13.3369 21.4625C12.9216 21.4625 12.5741 21.3226 12.2942 21.0427C12.0143 20.7628 11.8744 20.4153 11.8744 20C11.8744 19.5847 12.0143 19.2372 12.2942 18.9573C12.5741 18.6774 12.9216 18.5375 13.3369 18.5375C13.7522 18.5375 14.0997 18.6774 14.3796 18.9573C14.6595 19.2372 14.7994 19.5847 14.7994 20C14.7994 20.4153 14.6595 20.7628 14.3796 21.0427ZM27.7317 28.7885C27.4518 29.0684 27.1043 29.2083 26.689 29.2083C26.2737 29.2083 25.9261 29.0684 25.6463 28.7885C25.3664 28.5087 25.2265 28.1611 25.2265 27.7458C25.2265 27.3306 25.3664 26.983 25.6463 26.7031C25.9261 26.4233 26.2737 26.2833 26.689 26.2833C27.1043 26.2833 27.4518 26.4233 27.7317 26.7031C28.0116 26.983 28.1515 27.3306 28.1515 27.7458C28.1515 28.1611 28.0116 28.5087 27.7317 28.7885Z' fill='%231A2028'/%3E%3C/svg%3E");
          }
        }

      }
      .blog-author{
        margin-top: 25px;
        @include flex-center-vert;
        width: 100%;
        max-width: 100%;
        .blog-author-image{
          width: 43px;
          height: 43px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
        }
        .blog-author-infos{
          margin-left: 18px;
          max-width: 116px;
          width: 100%;
          *{
            @include fontRem (14,400,16);
          }
          .blog-author-name{
            color: $primary;
          }
          .blog-date{
            color: $lightGray;
          }
        }
      }
      .content-description-text{
        margin-top: 48px;
      }

    }
    .blogContent-sidebar{
      max-width: 292px;
      width: 100%;
      @media only screen and (max-width: $laptop) {
        max-width: 280px;
      }
      @media only screen and (max-width: $laptop) {
        max-width: 100%;
        margin-top: 66px;
      }
      .sidebar-headline{
        text-align: left;
        *{
          @include fontRem(20,600,32);
          color: $primary;
        }
      }
      .sidebar-listing{
        margin-top: 6px;
        ul{
          list-style: none;
          li:not(:first-child){
            margin-top: 6px;
          }
          li{
            a{
              @include fontRem(16,500,24);
              color: rgba($lightBlur,0.8);
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
.accordionOpen {
  background-color: red;
}
