.mobile-view{
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: $white;
    transition: 0.5s;
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 130px;
    overflow: hidden;
    .mobileView-name{
        width: 100%;
        max-width: 100%;
        text-align: left;
        background-color: $lightBlur;
        padding-left: 73px;
        padding-bottom: 30px;
        cursor: pointer;
        @media only screen and (max-width: $mobile){
            padding-bottom: 22px;
            padding-left: 30px;
        }
        *{
            @include fontRem(34,600,41);
            color: $white;
            @media only screen and (max-width: $mobile){
                @include fontRem(28,600,34);
            }
        }
        .link-name{
            @include flex-center-vert;
            & > span{
                width: 41px;
                height: 41px;
                svg{
                    width: 41px;
                    height: 41px;
                    transform: rotate(90deg);
                    path{
                        fill: $white;
                    }
                }
            }
        }
    }
    .sub-lists{
        ul{
            padding-top: 88px;
            padding-left: 87px;
            list-style: none;
            @media only screen and (max-width: $mobile){
                padding-top: 22px;
                padding-left: 30px;
            }
            li{
                &:not(:first-child){
                    margin-top: 39px;
                    @media only screen and (max-width: $mobile){
                        margin-top: 29px;
                    }
                }
                a{
                    @include flex-center-vert;
                    @include fontRem(30,600,32);
                    text-decoration: none;
                    color: $primary;
                    @media only screen and (max-width: $mobile){
                        @include fontRem(24,600,32);
                    }
                }
                span{
                    display: inline-block;
                    margin-right: 37px;
                    @media only screen and (max-width: $mobile){
                        margin-right: 19px;
                        width: 42px;
                        height: 42px;
                    }
                }
            }
        }
    }
}